

@font-face {
  font-family: 'Arial-MT';
  src: url("Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}



.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("play.svg");
}

.pause {
  background-image: url("pause.svg");
}

.play-prev {
  background-image: url("play-prev.svg");
}

.play-next {
  background-image: url("play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  letter-spacing: -4px;  
}

#comment {
  display: none;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}



.todo {
  display: inline-block;
  margin-top: 100px;
  border: 2px solid #eee;
  padding: 10px 20px;
}

.todo__text,
.todo__add {
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
}

.todo__add {
  padding: 5px 10px;
}

.todo__text {
  padding: 5px;
}

.todo__list {
  text-align: left;
  list-style-type: none;
  padding-left: 0px;
}

.todo__list-item {
  cursor: pointer;
  padding: 5px;
  line-height: 20px;
}

.todo__list-item:nth-child(even) {
  background-color: #eee;
}

.todo__list-item:hover {
  background-color: #aaa;
}

.todo__list-item-text {
  display: inline-block;
  max-width: 480px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo__list-item_completed_yes .todo__list-item-text {
  text-decoration: line-through;
}

.todo__list-item-remove {
  float: right;
  opacity: 0.3;
  margin-left: 15px;
}

.todo__list-item-remove:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}